# Ambiente Virtual
venv/

# Arquivos do PyCharm, VSCode ou outros IDEs
*.idea/
.vscode/

# Arquivos compilados Python
*.pyc
__pycache__/

# Arquivos de Log
*.log

# Arquivos de Banco de Dados SQLite (se estiver usando)
db.sqlite3